<div class="populer_categ_container">
    <div class="main_right_popu_categ_head">Popular Categories</div>
    <div class="right_blog_categ_box">
        <div class="divarray">

        </div>
          
    </div>
</div>

</div>