<div class="populer_categ_container">
    <div class="main_right_popu_categ_head">Popular Categories</div>
    <div class="right_blog_categ_box">
            <a href="/category/fashion" class="r-flex ali-c jut-sb">
                <span>Fashion</span>
                <span>(21)</span>
            </a>
            <a href="/category/lifestyle" class="r-flex ali-c jut-sb">
                <span>Lifestyle</span>
                <span>(26)</span>
            </a>
            <a href="/category/arts" class="r-flex ali-c jut-sb">
                <span>Art & Design</span>
                <span>(51)</span>
            </a>
            <a href="/category/beauty" class="r-flex ali-c jut-sb">
                <span>Beauty</span>
                <span>(26)</span>
            </a>
            <a href="/category/clothing" class="r-flex ali-c jut-sb">
                <span>Clothing</span>
                <span>(31)</span>
            </a>
            <a  href="/category/food" class="r-flex ali-c jut-sb">
                <span>Food & Drink</span>
                <span>(21)</span>
            </a>
            <a href="/category/entertainment" class="r-flex ali-c jut-sb">
                <span>Entertaintment</span>
                <span>(34)</span>
            </a>
    </div>
</div>

</div>