<!-- ======= header ====== -->
        <header class="top_header">
            <div class="container">
                 <nav class="navigation_bar r-flex ali-c jut-sb  ">
     
                     <!-- ==== left nav === -->
                     <div class="left_side_nav_bar">
                         <a href="/" class="nav_logo_box">
                             <img style="max-height:80px;" src="../images/logo3.png" alt="nav-logo">
                         </a>
                     </div>
                     <!-- ==== left nav close=== -->
     
                     <!-- ==== right nav === -->
                     <div class="right_side_bar">
                         <div class="nav_manu_bar">
                             <ul class="manu_box r-flex ali-c " id="myNAV">
                                 <li class="nav_manu_points"><a href="/" class="nav_manu_link"  >Home</a></li>
                                 <li class="nav_manu_points">
                                     <a class="nav_manu_link"  >
                                         <span class=" nav_drop_menu r-flex ali-c"> 
                                             <span>Categories </span> 
                                             <svg width="15" height="9" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M5 5.47918C4.88889 5.47918 4.78139 5.45834 4.6775 5.41668C4.57306 5.37501 4.48612 5.31945 4.41667 5.25001L0.583338 1.41668C0.43056 1.2639 0.354172 1.06945 0.354172 0.833343C0.354172 0.597232 0.43056 0.402788 0.583338 0.25001C0.736116 0.0972321 0.930561 0.0208435 1.16667 0.0208435C1.40278 0.0208435 1.59723 0.0972321 1.75001 0.25001L5 3.50001L8.25 0.25001C8.40278 0.0972321 8.59723 0.0208435 8.83334 0.0208435C9.06945 0.0208435 9.26389 0.0972321 9.41667 0.25001C9.56945 0.402788 9.64584 0.597232 9.64584 0.833343C9.64584 1.06945 9.56945 1.2639 9.41667 1.41668L5.58334 5.25001C5.5 5.33334 5.40973 5.39223 5.3125 5.42668C5.21528 5.46168 5.11112 5.47918 5 5.47918Z" fill="#000000"/>
                                             </svg>                                             
                                         </span>
     
                                         <ul class="nav_megha_manu">
                                             <li class="nav_megha_manu_points">
                                                 <a href="/category/beauty" class="nav_megha_menu_point">Beauty</a>
                                             </li>
                                             <li class="nav_megha_manu_points">
                                                 <a href="/category/fashion" class="nav_megha_menu_point">Fashion</a>
                                             </li>
                                             <li class="nav_megha_manu_points"><a  href="/category/travel" class="nav_megha_menu_point">Travel</a></li>
                                             <li class="nav_megha_manu_points"><a href="/category/architecture" class="nav_megha_menu_point">Architecture</a></li>
                                             <li class="nav_megha_manu_points"><a href="/category/Recipes" class="nav_megha_menu_point">Recipes</a></li>
                                         </ul>
     
                                     </a>
                                 </li>
                                 <li class="nav_manu_points"> 
                                     <a class="nav_manu_link"  >
                                         <span class=" nav_drop_menur-flex ali-c"> 
                                             <span>Features </span> 
                                             <svg width="15" height="9" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                 <path d="M5 5.47918C4.88889 5.47918 4.78139 5.45834 4.6775 5.41668C4.57306 5.37501 4.48612 5.31945 4.41667 5.25001L0.583338 1.41668C0.43056 1.2639 0.354172 1.06945 0.354172 0.833343C0.354172 0.597232 0.43056 0.402788 0.583338 0.25001C0.736116 0.0972321 0.930561 0.0208435 1.16667 0.0208435C1.40278 0.0208435 1.59723 0.0972321 1.75001 0.25001L5 3.50001L8.25 0.25001C8.40278 0.0972321 8.59723 0.0208435 8.83334 0.0208435C9.06945 0.0208435 9.26389 0.0972321 9.41667 0.25001C9.56945 0.402788 9.64584 0.597232 9.64584 0.833343C9.64584 1.06945 9.56945 1.2639 9.41667 1.41668L5.58334 5.25001C5.5 5.33334 5.40973 5.39223 5.3125 5.42668C5.21528 5.46168 5.11112 5.47918 5 5.47918Z" fill="#000000"/>
                                             </svg>                                             
                                         </span>
     
                                         <ul class="nav_megha_manu">
                                             <li class="nav_megha_manu_points">
                                                 <a href="/category/beauty" class="nav_megha_menu_point">Beauty</a>
                                             </li>
                                             <li class="nav_megha_manu_points">
                                                 <a href="/category/fashion" class="nav_megha_menu_point">Fashion</a>
                                             </li>
                                             <li class="nav_megha_manu_points"><a  href="/category/travel" class="nav_megha_menu_point">Travel</a></li>
                                             <li class="nav_megha_manu_points"><a href="/category/architecture" class="nav_megha_menu_point">Architecture</a></li>
                                             <li class="nav_megha_manu_points"><a href="/category/Recipes" class="nav_megha_menu_point">Recipes</a></li>
                                         </ul>
     
                                     </a>
                                 </li>
                                 <li class="nav_manu_points"><a href="/category/food" class="nav_manu_link"  >Food</a></li>
     
                                 <li class="nav_manu_points"><a href="/category/lifestyle" class="nav_manu_link"  >Lifestyle</a></li>
     
                                 <li class="nav_manu_points"><a href="/category/travel" class="nav_manu_link"  >Travel</a></li>

                                 <li class="nav_manu_points"><a href="/stories" id="refer_page" class ="nav_manu_link">Stories</a></li>

                                 <li class="nav_manu_points"><a href="/refer" id="refer_page" class ="nav_manu_link">Refer</a></li>
     
                                 <li id="write_blog" class="nav_manu_points"></li>
     
     
                                 <li id="profile_image" class="nav_manu_points">
                                 </li>
     
                                 <div class="close_nav_berger" onclick="burgerFuncation()">
                                     <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                         <line x1="1.46967" y1="18.4402" x2="18.4402" y2="1.46967" stroke="url(#paint0_linear_412_2)" stroke-width="1.5"/>
                                         <line y1="-0.75" x2="24.0208" y2="-0.75" transform="matrix(-0.706494 -0.707719 0.706494 -0.707719 18.9707 18)" stroke="url(#paint1_linear_412_2)" stroke-width="1.5"/>
                                         <defs>
                                         <linearGradient id="paint0_linear_412_2" x1="3.17851" y1="19.2063" x2="25.3345" y2="-2.94974" gradientUnits="userSpaceOnUse">
                                         <stop stop-color="#000000"/>
                                         <stop offset="0.449933" stop-color="#989898"/>
                                         <stop offset="1" stop-color="#000000"/>
                                         </linearGradient>
                                         <linearGradient id="paint1_linear_412_2" x1="0.667245" y1="1" x2="32.0278" y2="0.999999" gradientUnits="userSpaceOnUse">
                                         <stop stop-color="#000000"/>
                                         <stop offset="0.449933" stop-color="#989898"/>
                                         <stop offset="1" stop-color="#000000"/>
                                         </linearGradient>
                                         </defs>
                                     </svg>                                
                                 </div>
     
                             </ul>
                             <div class="open_nav_burger" onclick="burgerFuncation()">
                                 <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <line y1="8.25" x2="18" y2="8.25" stroke="url(#paint0_linear_115_6)" stroke-width="1.5"/>
                                 <line y1="1.25" x2="21" y2="1.25" stroke="url(#paint1_linear_115_6)" stroke-width="1.5"/>
                                 <line y1="15.25" x2="24" y2="15.25" stroke="url(#paint2_linear_115_6)" stroke-width="1.5"/>
                                 <defs>
                                 <linearGradient id="paint0_linear_115_6" x1="0.5" y1="10" x2="24" y2="10" gradientUnits="userSpaceOnUse">
                                 <stop stop-color="#000000"/>
                                 <stop offset="0.449933" stop-color="#989898"/>
                                 <stop offset="1" stop-color="#000000"/>
                                 </linearGradient>
                                 <linearGradient id="paint1_linear_115_6" x1="0.583333" y1="3" x2="28" y2="3" gradientUnits="userSpaceOnUse">
                                 <stop stop-color="#000000"/>
                                 <stop offset="0.449933" stop-color="#989898"/>
                                 <stop offset="1" stop-color="#000000"/>
                                 </linearGradient>
                                 <linearGradient id="paint2_linear_115_6" x1="0.666667" y1="17" x2="32" y2="17" gradientUnits="userSpaceOnUse">
                                 <stop stop-color="#000000"/>
                                 <stop offset="0.449933" stop-color="#989898"/>
                                 <stop offset="1" stop-color="#000000"/>
                                 </linearGradient>
                                 </defs>
                                 </svg>
                             </div>
                             
                         </div>
                     </div>
     
     
                 </nav>
            </div>
         </header>
         <!-- ======= header close ====== -->