<div id="myModal_new" class="modal_new">

    <!-- Modal content -->
    <div class="modal_new-content">
      <p id="modal_text">Some text in the Modal..</p></br>
      <div style="margin-left: 50px; height: 200px; width: 200px" class="circle">
        <div class="inside_circle" style="padding-top: 70px; font-size: 35px;" 
        id="points_amount">
        10/10
      </div></div>
    </div>
  
  </div>