  <div id="genModal" class="modal_new" style="display: None; text-align: center;">
    <!-- Modal content -->
    <div class="genModal-content" style="background: transparent; text-align: center;">
      <p id="genModal-text"></p></br>
    </div>
  </div>