<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>single blog page</title>

    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/author.css">
    <link rel="stylesheet" href="../css/blog-category-01.css">
    <link rel="stylesheet" href="../css/blog-category-02.css">

    <style>
        
        .mystyle {
            width: 100%;
            color: var(--white);
            font-size: 25px;
            box-sizing: border-box;
            display: block;
            transition: all 0.5s ease-out;
            top: 0px;
            transition: all 0.5s ease-in-out;
            transform: scale(1);
            z-index: 3;
            left: 0;
            position: absolute;
            top: 0;
            left: 0;
            background: #ffffff;
        }
        .close_nav_berger{
            position: absolute;
            right: 15px;
            top: 15px;
            z-index: 10;
            display: none;
        }
        .open_nav_burger{
            display: none;
        }
        @media (max-width: 920px){
            .close_nav_berger,
            .open_nav_burger{
                display: block;
                cursor: pointer;
            }
        }
        



    </style>
</head>
<body>

    <%- include('./partials/header') %>


     <main>
        <!-- ======== hero section ======= -->
        <section class="bloge_herosection">
            <div class="container">

                <div class="author_nav_bar r-flex ali-c jut-sb">
                    <div class="author_nav_left r-flex ali-c">
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31.8603 26.3128L29.9664 10.3753C29.905 9.85604 29.6542 9.37765 29.2622 9.03166C28.8701 8.68567 28.3643 8.49638 27.8414 8.5H23.3749C23.3749 6.80924 22.7032 5.18774 21.5077 3.99219C20.3122 2.79665 18.6906 2.125 16.9999 2.125C15.3091 2.125 13.6876 2.79665 12.4921 3.99219C11.2965 5.18774 10.6249 6.80924 10.6249 8.5H6.1531C5.63022 8.49638 5.12436 8.68567 4.73231 9.03166C4.34025 9.37765 4.08953 9.85604 4.0281 10.3753L2.13419 26.3128C2.09948 26.6103 2.12804 26.9117 2.218 27.1974C2.30795 27.483 2.45726 27.7464 2.65615 27.9703C2.85647 28.1952 3.10194 28.3752 3.37656 28.4988C3.65117 28.6224 3.94876 28.6867 4.2499 28.6875H29.7393C30.0422 28.6882 30.3418 28.6246 30.6184 28.501C30.8949 28.3774 31.1421 28.1965 31.3436 27.9703C31.5416 27.746 31.6899 27.4824 31.779 27.1967C31.868 26.9111 31.8957 26.6099 31.8603 26.3128ZM16.9999 4.25C18.1271 4.25 19.2081 4.69777 20.0051 5.4948C20.8021 6.29183 21.2499 7.37283 21.2499 8.5H12.7499C12.7499 7.37283 13.1977 6.29183 13.9947 5.4948C14.7917 4.69777 15.8727 4.25 16.9999 4.25Z" fill="#1E53DB"/>
                        </svg>                                 
                        <div id="title" class="author_nav_user_name">Fashion</div>                      
                        <span class="author_nav_des">Nulla felis eros, varius sit amet volutpat non.</span>
                    </div>
                </div>

                <div class="author_hero_container r-flex jut-sb">

                    <!-- ====== left ===== -->
                    <div class="left_hero_blog">

                     
                        <div class="author_bolg_post_container">

                            <div class="blog_category_1_aside_var">
                                <ul id="blog_container" class="blog_category_blog_container r-flex jut-sb flex-w">
                                </ul>
                            </div>
                            
                        </div>

                    </div>


                    <!-- ====== right ====== -->
                    <div class="right_hero_blog">
                        <div class="right_container">

                            <!-- ====== right search ===== -->
                            <div class="blog_right_search_box">
                                <div class="blog_search_head">Search</div>
                                <form class="blog_search_box r-flex ali-c">
                                    <input type="search" name="search" id="blog_search" placeholder="Search blog">
                                    <button type="submit">
                                        <svg width="16" height="16" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M26.2083 26.2083L32.375 32.375M4.625 16.9583C4.625 20.2293 5.9244 23.3664 8.23735 25.6793C10.5503 27.9923 13.6873 29.2917 16.9583 29.2917C20.2293 29.2917 23.3664 27.9923 25.6793 25.6793C27.9923 23.3664 29.2917 20.2293 29.2917 16.9583C29.2917 13.6873 27.9923 10.5503 25.6793 8.23735C23.3664 5.9244 20.2293 4.625 16.9583 4.625C13.6873 4.625 10.5503 5.9244 8.23735 8.23735C5.9244 10.5503 4.625 13.6873 4.625 16.9583Z" stroke="#ffffff" stroke-width="4.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                                            
                                    </button>
                                </form>

                            </div>

                            

                            <!-- ====== ads ==== -->
                            <div class="ads_right_blog_side">
                                <div class="ads_main_head_blog">Advertising</div>
                                <div class="ads_img_box_right_blog">
                                    <img src="https://images.unsplash.com/photo-1681316151065-f75049d1b7ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1641&q=80" alt="">
                                </div>
                                <div class="ads_img_box_right_blog">
                                    <img src="https://images.unsplash.com/photo-1681316152147-e8dffd56404c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1477&q=80" alt="">
                                </div>
                            </div>

                            <!-- ===== right populer categories ===== -->
                            <div class="populer_categ_container">
                                <div class="main_right_popu_categ_head">Popular Categories</div>
                                <div class="right_blog_categ_box">
                                        <a href="/category/fashion" class="r-flex ali-c jut-sb">
                                            <span>Fashion</span>
                                            <span>(21)</span>
                                        </a>
                                        <a href="/category/lifestyle" class="r-flex ali-c jut-sb">
                                            <span>Lifestyle</span>
                                            <span>(26)</span>
                                        </a>
                                        <a href="/category/arts" class="r-flex ali-c jut-sb">
                                            <span>Art & Design</span>
                                            <span>(51)</span>
                                        </a>
                                        <a href="/category/beauty" class="r-flex ali-c jut-sb">
                                            <span>Beauty</span>
                                            <span>(26)</span>
                                        </a>
                                        <a href="/category/clothing" class="r-flex ali-c jut-sb">
                                            <span>Clothing</span>
                                            <span>(31)</span>
                                        </a>
                                        <a  href="/category/food" class="r-flex ali-c jut-sb">
                                            <span>Food & Drink</span>
                                            <span>(21)</span>
                                        </a>
                                        <a href="/category/entertainment" class="r-flex ali-c jut-sb">
                                            <span>Entertaintment</span>
                                            <span>(34)</span>
                                        </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
     </main>
    

     <script>
        function burgerFuncation() {
            var element = document.getElementById("myNAV");
            element.classList.toggle("mystyle");
            document.body.classList.toggle("noscroll"); 
        }

        function attachBlogs(blogs){
            let elements = document.getElementById("blog_container")
            blogs.map((data)=> {
                let content = `
                    <li class="blog_cat2_box ">
                        <a class="">
                            <div style="width: 100%" class="blog_cat2_item r-flex">
                                <div class="blog_cat2_img_box">
                                    <img src="${data["titleImage"]}" alt="">
                                </div>
                                <div class="blog_cat2_cont_box">
                                    <a href="/read?blogId=${data._id}" class="blog_cat2_heading">${data.title}</a>
                                    <p class="blog_cat2_content">${data.meta}</p>
                                    <div class="blog_cat2_writer_date r-flex ali-c text-t">
                                        <a>${data.tags[0]}</a>
                                        <span>/</span>
                                        <a>${date_string(data.date)}</a>
                                        <span>/</span>
                                        <a>by ${data.author}</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    `
                let div = document.createElement("div")
                div.innerHTML = content
                elements.append(div)
            })
        }

        function date_string(date){
            parts = date.split("/")

            console.log("parts = ", parts)

            let months = {
                "1":"Jan",
                "2":"Feb",
                "3":"Mar",
                "4":"April",
                "5":"May",
                "6":"June",
                "7":"July",
                "8":"Aug",
                "9":"Sept",
                "10":"Oct",
                "11":"Nov",
                "12":"Dec",
            }
            return `${parts[1]} ${months[parts[0]]} ${parts[2]}`
        }

        async function userBlogs(){
            let token = localStorage.getItem("token")
            let cat = window.location.href.split("/").slice(-1)[0]
            console.log(cat)
            cat = cat[0].toUpperCase() + cat.slice(1)
            console.log(cat)
            document.getElementById("title").innerHTML = cat
            let data = await fetch(`/category/${window.location.href.split("/").slice(-1)[0]}`, {
                method: "POST",
                headers:{
                    "Content-type": "application/json",
                    'Authorization': "Bearer " + token
                }
            })

            let blogs = await data.json()
            console.log("blogs = ", blogs)

            attachBlogs(blogs);
        }
        userBlogs();
    </script>
    <script>
        function changeClass(choice){
        console.log("change class")
        let elem = document.getElementsByClassName("dropdown-content")[0]
        console.log(elem.style.display)
        if (elem.style.display==""){
            elem.style.display = "block"
        }
        else{
            elem.style.display = ""
        }
    }

    async function userData(){
        let token = localStorage.getItem("token")
        let data = await fetch("/currentUser", {
            method: "GET",
            headers:{
                "Content-type": "application/json",
                'Authorization': "Bearer " + token
            }   
        })

        let userDetails = await data.json()

        return userDetails
    }
        async function newBlog(){
        const userDetails = await userData();
        const blog = {
            "userId": userDetails.user._id,
            "title": "Title",
            "views": 0,
            "status": "new",
            "titleImage": "https://kurenai-image-testing.s3.ap-south-1.amazonaws.com/logo-removebg-preview.png",
            "userName": userDetails.user._id,
        }
        let data = await fetch("/newBlog",{
            method: "POST",
            headers: {
                "content-type": "application/json",
            },
            body: JSON.stringify(blog)
        })

        let blogs = await data.json()

        console.log("data = ", blogs)

        window.location.href = `/write?blogId=${blogs.blog._id}`
    }

    function setWriteBlog(){
        let doc = document.getElementById("write_blog")
        console.log(localStorage.getItem("user"))
        if (localStorage.getItem("user")){
            let elem = `
            <a class="nav_manu_link write_nav_btn r-flex ali-c">
                <svg width="16" height="16" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.847 0.543159L21.4504 1.14002C22.2818 1.9635 22.156 3.42329 21.1671 4.40053L8.72436 16.7091L4.69301 18.1679C4.18679 18.352 3.69387 18.1133 3.59365 17.6368C3.55978 17.464 3.57572 17.2852 3.63967 17.1209L5.14299 13.0986L17.551 0.823382C18.5399 -0.15386 20.0156 -0.280315 20.847 0.543159ZM8.18132 1.76724C8.31562 1.76724 8.44861 1.79341 8.57268 1.84425C8.69676 1.89509 8.80949 1.9696 8.90446 2.06354C8.99942 2.15748 9.07475 2.269 9.12614 2.39174C9.17754 2.51448 9.20399 2.64603 9.20399 2.77888C9.20399 2.91173 9.17754 3.04328 9.12614 3.16602C9.07475 3.28875 8.99942 3.40028 8.90446 3.49421C8.80949 3.58815 8.69676 3.66267 8.57268 3.71351C8.44861 3.76435 8.31562 3.79052 8.18132 3.79052H4.09066C3.54821 3.79052 3.02797 4.00368 2.64439 4.38312C2.26082 4.76256 2.04533 5.27719 2.04533 5.81379V17.9534C2.04533 18.4901 2.26082 19.0047 2.64439 19.3841C3.02797 19.7636 3.54821 19.9767 4.09066 19.9767H16.3626C16.9051 19.9767 17.4253 19.7636 17.8089 19.3841C18.1925 19.0047 18.408 18.4901 18.408 17.9534V13.9069C18.408 13.6386 18.5157 13.3813 18.7075 13.1916C18.8993 13.0018 19.1594 12.8953 19.4306 12.8953C19.7019 12.8953 19.962 13.0018 20.1538 13.1916C20.3456 13.3813 20.4533 13.6386 20.4533 13.9069V17.9534C20.4533 19.0267 20.0223 20.0559 19.2552 20.8148C18.488 21.5737 17.4476 22 16.3626 22H4.09066C3.00575 22 1.96528 21.5737 1.19813 20.8148C0.430979 20.0559 0 19.0267 0 17.9534V5.81379C0 4.74058 0.430979 3.71132 1.19813 2.95245C1.96528 2.19357 3.00575 1.76724 4.09066 1.76724H8.18132Z" fill="#ffffff"/>
                </svg>
                <span onclick=newBlog()>Write Blog</span>
            </a>
            `
            doc.innerHTML = elem
            }
        else{
            let elem = `
            <a class="nav_manu_link write_nav_btn r-flex ali-c" href="/login">
                <span>Sign up / Sign In</span>
            </a>
            `
            doc.innerHTML = elem
        }
    }

    function setProfile(){
        let doc = document.getElementById("profile_image")
            if (localStorage.getItem("user")){
                let elem = `
                <a class="nav_manu_link" onclick="changeClass()">
                    <img style="max-height: 30px;" src="../user-bg.png">
                    <br>
                    <div class="dropdown-content">
                        <div>
                        <a class="profile_points" href="/dashboard"><div class="dropdown_a">Dashboard</div></a>
                        </div>
                        <a class="profile_points"  ><div class="dropdown_a" onclick="logout()">Signout</div></a>
                    </div>
                </a>
                `
                doc.innerHTML = elem
                }
        }

        setProfile();
        setWriteBlog();

        async function logout(){
            let data = await fetch("/logout",{
                "method": "POST",
                headers: {
                    "content-type": "application/json",
                },
            })
            let res = await data.json();

            console.log("res = ", res)

            localStorage.removeItem("user")
            localStorage.removeItem("token")

            window.location.href = "/"
        }
    </script>
    </script>
</body>
</html>