<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords"
        content="tailwind,tailwindcss,tailwind css,css,starter template,free template,admin templates, admin template, admin dashboard, free tailwind templates, tailwind example">
    <!-- Css -->
    <link rel="stylesheet" href="/dist/styles.css">
    <link rel="stylesheet" href="/dist/all.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <!--Container -->
    <div class="mx-auto bg-grey-400">
        <!--Screen-->
        <div class="min-h-screen flex flex-col">
            <!--Header Section Starts Here-->
            <header class="bg-nav">
                <div class="flex justify-between">
                    <div class="p-1 mx-3 inline-flex items-center">
                        <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                        <h1 class="text-white p-2">Dashboard</h1>
                    </div>
                    <div class="p-1 flex flex-row items-center">


                        <img onclick="profileToggle()" class="inline-block h-8 w-8 rounded-full"
                            src="https://avatars0.githubusercontent.com/u/4323180?s=460&v=4" alt="">
                        <a   onclick="profileToggle()"
                            id="username" class="text-white p-2 no-underline md:block lg:block">
                            username
                        </a>
                        <a href="/"><button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Home</button></a>
                        <div id="ProfileDropDown"
                            class="inline-block rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                            <ul class="list-reset">
                                <li><a   class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My
                                        account</a></li>
                                <li><a  
                                        class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a>
                                </li>
                                <li>
                                    <hr class="border-t mx-2 border-grey-ligght">
                                </li>
                                <li><a href="/logout"
                                        class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!--/Header-->

            <div class="flex flex-1">
                <!--Sidebar-->
                <aside id="sidebar"
                    class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">
                    <div class="flex">

                    </div>
                    <ul class="list-reset flex flex-col">
                        <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
                            <a href="/dashboard"
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-tachometer-alt float-left mx-2"></i>
                                Dashboard
                                <span><i class="fas fa-angle-right float-right"></i></span>
                            </a>
                        </li>



                        <li class="w-full h-full py-3 px-2 border-b border-light-border">
                            <a
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fab fa-uikit float-left mx-2"></i>
                                Competitions
                                <span><i class="fa fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                        <li class="w-full h-full py-3 px-2 border-b border-300-border">
                            <a
                                class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                <i class="fas fa-square-full float-left mx-2"></i>
                                Games
                                <span><i class="fa fa-angle-right float-right"></i></span>
                            </a>
                        </li>
                    </ul>

                </aside>
                <!--/Sidebar-->
                <!--Main-->
                <main class="bg-white-300 flex-1 p-3 overflow-hidden">

                    <div class="flex flex-col">
                        <!-- Stats Row Starts Here -->
                        <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
                            <div
                                class="shadow-lg bg-red-vibrant border-l-8 hover:bg-red-vibrant-dark border-red-vibrant-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a id="blog_length"   class="no-underline text-white text-2xl">
                                        Blog Length
                                    </a>
                                    <a   class="no-underline text-white text-lg">
                                        Total Posts
                                    </a>
                                </div>
                            </div>

                            <div
                                class="shadow bg-info border-l-8 hover:bg-info-dark border-info-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a id="followers_count"   class="no-underline text-white text-2xl">
                                        0
                                    </a>
                                    <a   class="no-underline text-white text-lg">
                                        Followers
                                    </a>
                                </div>
                            </div>

                            <div
                                class="shadow bg-warning border-l-8 hover:bg-warning-dark border-warning-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a id="following_count"   class="no-underline text-white text-2xl">
                                        0
                                    </a>
                                    <a   class="no-underline text-white text-lg">
                                        Followings
                                    </a>
                                </div>
                            </div>

                            <div
                                class="shadow bg-success border-l-8 hover:bg-success-dark border-success-dark mb-2 p-2 md:w-1/4 mx-2">
                                <div class="p-4 flex flex-col">
                                    <a id="referral"   class="no-underline text-white text-2xl">
                                        #1234566899
                                    </a>
                                    <a class="no-underline text-white text-lg">
                                        Your Referal Number <img onClick="copyURL()" src="/images/copy-icon.png" style="width:20px; height: 20px">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- /Stats Row Ends Here -->

                        <!--Grid Form-->

                        <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
                            <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-300 border-b">
                                    Posts
                                </div>
                                <!-- for posts -->
                                <div id="posts" class="p-1 flex flex-col  md:mx-1 lg:mx-1">
                                    <!-- horizontal card -->
                                            <!-- /horizontal card -->
                                </div>
                                <!-- /for posts -->

                            </div>
                        </div>
                        <!--/Grid Form-->
                    </div>
                </main>
                <!--/Main-->
            </div>


        </div>

    </div>
    <script src="./main.js"></script>
    <script>
        async function userData(){
            let token = localStorage.getItem("token")
            let data = await fetch("/currentUser", {
                method: "GET",
                headers:{
                    "Content-type": "application/json",
                    'Authorization': "Bearer " + token
                }   
            })

            let user = await data.json()
            console.log("user = ", user)
            let name = document.getElementById("username")
            name.innerHTML = user.user.username

            let followers = document.getElementById("followers_count")
            followers.innerHTML = user.user.followers.length

            let following = document.getElementById("following_count")
            following.innerHTML = user.user.following.length

            let referral = document.getElementById("referral")
            referral.innerHTML = user.user.referral
        }
        userData();

        async function userBlogs(){
            let token = localStorage.getItem("token")
            let data = await fetch("/userBlogs", {
                method: "GET",
                headers:{
                    "Content-type": "application/json",
                    'Authorization': "Bearer " + token
                }
            })

            let blogs = await data.json()
            console.log("blogs = ", blogs)

            let blogLength = document.getElementById("blog_length")
            blogLength.innerHTML = blogs.length

            attachBlogs(blogs);
        }
        userBlogs();

        function attachBlogs(blogs){

            let elem = document.getElementById("posts")
            
            blogs.map((blog)=> {
                console.log(blog)
                let post = `
                <div style="margin:10px" class=" w-full lg:flex lg:mx-2 md:mx-2">
                    <div class="h-40 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
                        style="background-image: url('${blog.titleImage}')"
                        title="Woman holding a mug">
                    </div>
                    <div
                    style="min-width: 50%; max-width: 80%"class="border-r border-b border-l border-gray-300 lg:border-l-0 lg:border-t lg:border-gray-300 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                        <div class="mb-2">
                            <div class="text-black-500 font-bold text-lg mb-2">
                                <a href='write?blogId=${blog._id}'>
                                    ${blog.title}
                                </a>
                            </div>
                            <p class="text-gray-700 text-base">
                                ${blog.meta}
                            </p>
                        </div>
                        <div class="flex items-center">
                            <img class="w-10 h-10 rounded-full mr-4"
                                src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg"
                                alt="Avatar of Jonathan Reinink">
                            <div class="text-sm">
                                <p class="text-black leading-none">
                                    ${blog.author}
                                </p>
                                <p class="text-gray-dark">
                                    ${blog.date}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            `
            let div = document.createElement("div")
            div.innerHTML = post
            elem.append(div)
        })
        }

        function copyURL(){
            let copyText = document.getElementById("referral");

            console.log("copy  = ", copyText)

            // Select the text field
            //copyText.select();
            //copyText.setSelectionRange(0, 99999); // For mobile devices

             // Copy the text inside the text field
            navigator.clipboard.writeText("https://autumnkurenai.com/signup?ref=" + copyText.innerHTML);

            // Alert the copied text
            alert("referral link copied: " + copyText.innerHTML);
        }

    </script>
</body>

</html>