<html>
  <body>
      <script src="https://accounts.google.com/gsi/client" async defer></script>
      <script>
        async function handleCredentialResponse(response) {
          //console.log("Encoded JWT ID token: " + response.credential);

          let data = await fetch(`https://oauth2.googleapis.com/tokeninfo?id_token=${response.credential}`)

          //console.log(await data.json())
        }
        window.onload = function () {
          google.accounts.id.initialize({
            client_id: "52924225802-18va5kl4741f09h2plf21kppmrbj8t2m.apps.googleusercontent.com",
            callback: handleCredentialResponse
          });
          google.accounts.id.renderButton(
            document.getElementById("buttonDiv"),
            { theme: "outline", size: "large" }  // customization attributes
          );
          google.accounts.id.prompt(); // also display the One Tap dialog
        }
    </script>
    <div id="buttonDiv"></div> 
  </body>
</html>


