<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ====== TITLE ====== -->
    <title>Kurenai</title>

    <!-- ====== CSS LINKS ===== -->
    <link rel="stylesheet" href="/css/style.css">

</head>    
   
    <!-- ======= main ===== -->
    <main class="home_main">  
            <center class="container">      
                    <div class="sing_up_form">
                        <div class="form_heading">Login</div>
                        <form  class="sing_up_form_box c-flex ali-c jut-c" id="myForm" method="post" action="/login">
                            <input required="required" type="name" name="username" id="username" placeholder="Enter Your Name">
                            <input required="required" type="password" name="password" id="password" placeholder="Enter Your Password">
                            <button type="submit" class="sing_up_data_submit_btn">Login</button>
                        </form>
                    </div>
                </center> 
    </main>
    <!-- ======= main close ====== -->


</body>
</html>