<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- ====== TITLE ====== -->
  <title>Review</title>

  <!-- ====== CSS LINKS ===== -->
  <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/blog.css">
    <link rel="stylesheet" href="css/author.css">
  <link rel="stylesheet" href="sinup_in.css">
  <link rel="stylesheet" href="css/compact.css">
</head>

<body>
        <%- include('./partials/header') %>
<%- include('./partials/modal') %>
<script src="js/refer.js"></script>


  <!-- ======= main ===== -->
  <main style="height: 100%;">
    <div class="row">
        <div class="col-sm-1"> </div>
        <div class="col-sm-7"> 
            <div id="in-review"></div>
        </div>
    </div>
  </main>
  <!-- ======= main close ====== -->

  <script>
    async function publishBlog(id){
        console.log("id = ", id)
        publish(id)
    }

    async function publish(id){
        let token = localStorage.getItem("token")
        let data = await fetch("/setReview", {
            method: "POST",
            headers:{
                "Content-type": "application/json",
                'Authorization': "Bearer " + token
            },
            body: JSON.stringify({blogId: id})
        })

        let done = await data.status
        console.log("status = ", done)

        if (await done==200){
            document.getElementById(id).remove()
            console.log("removed")
        }
        else{
            console.log("not removed")
        }
    }

    async function getBlogs(){
        let token = localStorage.getItem("token")
        let data = await fetch("/allReview", {
            method: "POST",
            headers:{
                "Content-type": "application/json",
                'Authorization': "Bearer " + token
            }
        })

        let blogs = await data.json()
        let elem = document.getElementById("in-review")
        for (i in blogs){
            let next = document.createElement("div")
            let button = document.createElement("button")
            let parent = document.createElement("div")

            let context = `
                <div id="${blogs[i]["_id"]}">
                    <a style="color:black" href=read?blogId=${blogs[i]["_id"]}><h2>${blogs[i]["title"]}</h2></a>
                    <div>${blogs[i]["author"]}</div>
                    <button onClick='publishBlog("${blogs[i]["_id"]}")'>Publish</button>
                </div>
            `

            next.innerHTML = context

            parent.append(next)
            elem.append(parent)
        }
        }
        getBlogs();
</script>
<script type="text/javascript" src="js/base_func.js"></script>


<%- include('./partials/footer') %>
</body>

</html>