
.blog_cat2_box{
    width: 100%;
    max-width: 100%;
}
.blog_cat2_img_box{
    width: 100%;
    max-width: 300px;
    min-width: 300px;
}
.blog_cat2_cont_box{
    width: 100%;
    /* max-width: 300px; */
}
.blog_cat2_img_box img {
    width: 100%;
}
.blog_cat2_item{
    gap: 20px;
}
.blog_cat2_heading{
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    padding: 5px 15px;
    display: flex;
    margin-left: -80px;
    margin-top: 10px;
    background-color: #ffffff;
}
.blog_cat2_content{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
.blog_cat2_writer_date{
    gap: 10px;
    font-size: 12px;
    margin-top: 10px;
    color: #757575;
}
.blog_cat2_writer_date a{
    color: #757575;
}
@media (max-width: 1120px){
    .blog_cat2_img_box{
        min-width: 250px;
    }
}
@media (max-width: 650px){
    .blog_cat2_img_box{
        min-width: 100%;
    }
    .blog_cat2_item{
        flex-direction: column;
    }
    .blog_cat2_heading{
        margin: 0px;
        padding: 0;
        font-size: 20px;
    }
    .blog_cat2_box{
        margin: 20px 0px;
    }
}